body {
  padding: 10px;
  font-family: sans-serif;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-right-5 {
  margin-right: 5px;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.bold {
  font-weight: bold;
}

.horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.table-classify tr:first-child td {
  font-size: 20px;
}